.header {
  display: grid;
  grid-template-columns: auto 1fr auto; /* LEFT | CENTER | RIGHT */
  align-items: center;
  height: 64px;
  padding: 0 24px;
  background: #fff;
  border-bottom: 1px solid #eaeaea;
}

/* LEFT */
.header-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo-icon {
  font-size: 32px;
}

.logo-text h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

.logo-text span {
  font-size: 13px;
  color: #8c8c8c;
}

/* CENTER */
.header-search {
  max-width: 480px;
  justify-self: center; /* CĂN GIỮA THẬT */
  width: 100%;
}

/* RIGHT */
.header-actions {
  display: flex;
  align-items: center;
  gap: 18px;
}

.header-icon {
  font-size: 18px;
  cursor: pointer;
}

.lang {
  font-size: 13px;
  font-weight: 500;
  color: #333;
}
