.userManagement {

  padding: 28px;

  background: #f0f2f5;

  min-height: 100vh;

}


.userManagement__header {

  display: flex;

  justify-content: space-between;

  align-items: center;

  margin-bottom: 24px;

}


.userManagement__title {

  font-size: 26px;

  font-weight: 700;

}


.userManagement__subtitle {

  color: #888;

  margin-top: 4px;

}


.userManagement__stats {

  display: grid;

  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));

  gap: 16px;

  margin-bottom: 24px;

}